* {

   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

:root{
    --roxo:#390e42;
    --verde:#a3e720;
    --rosa:#ff0086;
    --branco:#ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: "doce";
    src: url(fontes/MATURASC_1.TTF);
}

body {
    font-size: 16px;
}


/*seção header*/
header {
    position: fixed;
    top: 0;
    
    width: 100%;
    height: auto;
    padding: 20px 2%;

}

header .logo img {
    width: 14%;
    height: auto;
    
}

.container-header {
    display: flex;
    justify-content: space-between;

    color: white;
}

.menu-header {
    width: 40%;
}
 
.list-header {
    display: flex;
    align-items: center;
    
    gap: 30px;
    padding: 20px;

    font-weight: 700;
}
.item {
    position: relative;

    cursor: pointer;
}

.item::after {
    content:"";

    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;

    background-color: #a3e720;

    transition: width 0.5s ease;
}

.item:hover::after{
    width: 100%;
}

.item-btn { 
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: auto;
    padding:10px;
    
    font-size: 18px;
    font-weight: bolder;
}

.material-symbols-outlined {
    
    padding: 10px;

    background-color:#390e42;
    border-radius: 40px;
}

.container-seta {
    display: flex;
    gap: 15px;

    margin-left: 10%;
    padding: 8px;

    background-color: #a3e720;
    border-radius: 50px;
    
}

/* fim da seção header*/

                                        /* seção inicio */
.section-inicio {

    /*background-image: linear-gradient(to left, #390e42 95%, rgb(0, 0, 0));*/
    background-image: linear-gradient(to left, #390e42 90%, rgb(0, 0, 0) 120%);
}

.container-inicio {
    display: flex;

    gap: 30px;
    align-items: center;
    justify-content: center;
    
}


.descricao-inicio {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 800px;
    gap: 20px;
}
.descricao-inicio h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 5vw, 3rem);    
    color: white;
}

.descricao-inicio p {

    
    max-width: 550px;

    font-weight: 500;

    color: rgba(255, 255, 255, 0.918);
}

.logo-img {
    cursor: pointer;
}
.img-inicio {
    
    width: 25%;
    height: auto;

    transition: transform 1s ease;
    
}

.img-inicio:hover {
    transform: rotate(-10deg);
}
/* fim da seção header*/

                    /* seção cardápio */
.section-cardapio{
    padding:80px 20px;
    background-image: linear-gradient(to top, #91cf1d 98%,#390e42 102%);
}

.container-cardapio{
    max-width:1100px;
    margin:auto;
}

.container-cardapio h2{
    text-align:center;
    font-size:2.9rem;
    color:#ffffff;
    letter-spacing: 1px;
}

.container-cardapio h4{
    text-align:center;
    margin-top:10px;
    color:#000000d5;
    margin-bottom: 5px;
}

.container-cardapio p{
    text-align:center;
    margin-bottom:40px;
}



/* grid dos card */

.cardapio-grid{
    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

    margin-bottom:80px;
}



/* card */

.card{
    background:white;

    padding:25px;

    border-radius:12px;

    text-align:center;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);

    box-shadow:0 8px 18px rgba(0, 0, 0, 0.678);
}

.card h3{
    font-size:1.rem;
    margin-bottom:10px;
    color:#3a0a5c;
}

.preco{
    font-size:1.6rem;
    font-weight:700;
    color:#ff0192;
    margin-bottom:10px;
}

.info{
    font-size:0.95rem;
    color:#666;
    margin-bottom:20px;
}



/* botao */

.btn-card{
    display:inline-block;

    padding:10px 20px;

    background:#7b1fa2;

    color:white;

    text-decoration:none;

    border-radius:8px;

    font-size:0.9rem;

    transition:0.3s;
}

.btn-card:hover{
    background:#5e1780;
}




/* complementos */


.container-complementos{
    margin-top:60px;
}

.complementos-grid{
    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:30px;

    margin-top:40px;
}

.categoria{
    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 4px 10px rgba(0, 0, 0, 0.281);
}

.categoria h5{
    margin-bottom:15px;
    color:#ff0192;
    font-size: 1rem;
}

.categoria ul{
    list-style:none;
}

.categoria li{
    margin-bottom:8px;
    color:#555;
}



/* cremes */

.destaque-cremes{
    background:#f4d7f8;
}